src/main/resources/serviceDefinition.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="String128">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="128" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String8">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="type">
        <xs:restriction base="xs:string">
            <xs:pattern value="CLOUD|OSS" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="category">
        <xs:restriction base="xs:string">
            <xs:pattern value="IAAS|PAAS|STAAS|WAAS|DAAS|DIAAS|DBAAS|ITAAS|MAAS|NAAS|SAAS|TICKET|CREDITCARD_FRAUD_CONTROL|DEVICE_FRAUD_CONTROL|IP_TO_COUNTRY|PAYMENT_GATEWAY|PHONE_VERIFICATION" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="imagetype">
        <xs:restriction base="xs:string">
            <xs:pattern value="banner|logo" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Locales">
        <xs:restriction base="xs:string">
            <xs:pattern value="(ja_JP|es_PE|en|ja_JP_JP|es_PA|sr_BA|mk|es_GT|ar_AE|no_NO|sq_AL|bg|ar_IQ|ar_YE|hu|pt_PT|el_CY|ar_QA|mk_MK|sv|de_CH|en_US|fi_FI|is|cs|en_MT|sl_SI|sk_SK|it|tr_TR|zh|th|ar_SA|no|en_GB|sr_CS|lt|ro|en_NZ|no_NO_NY|lt_LT|es_NI|nl|ga_IE|fr_BE|es_ES|ar_LB|ko|fr_CA|et_EE|ar_KW|sr_RS|es_US|es_MX|ar_SD|in_ID|ru|lv|es_UY|lv_LV|iw|pt_BR|ar_SY|hr|et|es_DO|fr_CH|hi_IN|es_VE|ar_BH|en_PH|ar_TN|fi|de_AT|es|nl_NL|es_EC|zh_TW|ar_JO|be|is_IS|es_CO|es_CR|es_CL|ar_EG|en_ZA|th_TH|el_GR|it_IT|ca|hu_HU|fr|en_IE|uk_UA|pl_PL|fr_LU|nl_BE|en_IN|ca_ES|ar_MA|es_BO|en_AU|sr|zh_SG|pt|uk|es_SV|ru_RU|ko_KR|vi|ar_DZ|vi_VN|sr_ME|sq|ar_LY|ar|zh_CN|be_BY|zh_HK|ja|iw_IL|bg_BG|in|mt_MT|es_PY|sl|fr_FR|cs_CZ|it_CH|ro_RO|es_PR|en_CA|de_DE|ga|de_LU|de|es_AR|sk|ms_MY|hr_HR|en_SG|da|mt|pl|ar_OM|tr|th_TH_TH|el|ms|sv_SE|da_DK|es_HN)*(,\s*(ja_JP|es_PE|en|ja_JP_JP|es_PA|sr_BA|mk|es_GT|ar_AE|no_NO|sq_AL|bg|ar_IQ|ar_YE|hu|pt_PT|el_CY|ar_QA|mk_MK|sv|de_CH|en_US|fi_FI|is|cs|en_MT|sl_SI|sk_SK|it|tr_TR|zh|th|ar_SA|no|en_GB|sr_CS|lt|ro|en_NZ|no_NO_NY|lt_LT|es_NI|nl|ga_IE|fr_BE|es_ES|ar_LB|ko|fr_CA|et_EE|ar_KW|sr_RS|es_US|es_MX|ar_SD|in_ID|ru|lv|es_UY|lv_LV|iw|pt_BR|ar_SY|hr|et|es_DO|fr_CH|hi_IN|es_VE|ar_BH|en_PH|ar_TN|fi|de_AT|es|nl_NL|es_EC|zh_TW|ar_JO|be|is_IS|es_CO|es_CR|es_CL|ar_EG|en_ZA|th_TH|el_GR|it_IT|ca|hu_HU|fr|en_IE|uk_UA|pl_PL|fr_LU|nl_BE|en_IN|ca_ES|ar_MA|es_BO|en_AU|sr|zh_SG|pt|uk|es_SV|ru_RU|ko_KR|vi|ar_DZ|vi_VN|sr_ME|sq|ar_LY|ar|zh_CN|be_BY|zh_HK|ja|iw_IL|bg_BG|in|mt_MT|es_PY|sl|fr_FR|cs_CZ|it_CH|ro_RO|es_PR|en_CA|de_DE|ga|de_LU|de|es_AR|sk|ms_MY|hr_HR|en_SG|da|mt|pl|ar_OM|tr|th_TH_TH|el|ms|sv_SE|da_DK|es_HN))*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="datatype">
        <xs:restriction base="xs:string">
            <xs:pattern value="Integer|String|URL|Number|Boolean" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="dependsontype">
        <xs:restriction base="xs:string">
            <xs:pattern value="ADD_ON|AVAILABLE|NONE" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="resourceconstraint">
        <xs:restriction base="xs:string">
            <xs:pattern value="NONE|SINGLETON|ACCOUNT|PER_USER" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rolescopeconstraint">
        <xs:restriction base="xs:string">
            <xs:pattern value="GLOBAL_ADMIN|TENANT_ADMIN|TENANT|GLOBAL" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Service">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Bootstrap">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Id">
                                <xs:annotation>
                                    <xs:documentation>
                                        <![CDATA[
              type : OSS/CLOUD
              category : IAAS/PAAS/STAAS/SAAS
              singleton : true/false
              Id : Unique Identifier]]>
                  </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="String128">
                                                <xs:attribute type="type" name="type" use="required" />
                                                <xs:attribute type="xs:boolean" name="singleton" />
                                                <xs:attribute type="category" name="category" use="required" />
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="Connector">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                                <xs:attribute type="String128" name="ref" use="required" />
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="Image" maxOccurs="unbounded" minOccurs="0">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                                <xs:attribute type="imagetype" name="type" use="optional" />
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="Vendor">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="String128">
                                                <xs:attribute name="version" type="xs:string" use="required" />
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element type="Locales" name="Locales" minOccurs="0"/>
                                <xs:element name="Configuration">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Property" maxOccurs="unbounded" minOccurs="0">
                                                <xs:annotation>
                                                                                   <xs:documentation><![CDATA[Name, tooltip, errortext for below properties should be provided in properties file like 
                                                                                                                   property.<property-id>.name=Api Key
                                                                                                                   property.<property-id>.tooltip=Please enter Api Key
                                                                                                                   property.<property-id>.errortext.minlength=Please Enter minimum 20 chareacters
                                                                                                                   property.<property-id>.errortext.maxlength=Please enter no more than 40 characters
                                                                                                                   property.<property-id>.errortext.alphanumeric=Please enter alphanumeric text
                                                                                                                   property.<property-id>.errortext.digit=Please enter only digits
                                                                                                                   property.<property-id>.errortext.number=Please enter only number 
                                                                                                                   property.<property-id>.errortext.maxvalue=Value cannot be more than 64736
                                                                                                                   property.<property-id>.errortext.minvalue=Value cannnot be less than 100]]></xs:documentation>
                                                                                    </xs:annotation>

                                                                                        <xs:complexType>
                                                                                            <xs:simpleContent>
                                                                                                <xs:extension base="xs:string">
                                                                                                    <xs:attribute type="String128" name="id" use="required" />
                                                                                                    <xs:attribute type="datatype" name="type" use="required" />
                                                                                                    <xs:attribute type="xs:boolean" name="encrypted" use="optional" />
                                                                                                    <xs:attribute type="xs:string" name="validation" use="optional" />
                                                                                                    <xs:attribute type="xs:string" name="default" use="optional" />
                                                                                                    <xs:attribute type="xs:boolean" name="unique" use="optional" default="false"/>
                                                                                                </xs:extension>
                                                                                            </xs:simpleContent>
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                </xs:sequence>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                <xs:element name="AccountConfiguration" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Property" maxOccurs="unbounded" minOccurs="1">
                                                 <xs:complexType>
                                                     <xs:simpleContent>
                                                         <xs:extension base="xs:string">
                                                             <xs:attribute type="String128" name="id" use="required" />
                                                             <xs:attribute type="datatype" name="type" use="required" />
                                                             <xs:attribute type="xs:boolean" name="encrypted" use="optional" />
                                                             <xs:attribute type="xs:string" name="default" use="optional" />
                                                             <xs:attribute type="xs:string" name="validation" use="optional" />
                                                         </xs:extension>
                                                     </xs:simpleContent>
                                                 </xs:complexType>
                                             </xs:element>
                                         </xs:sequence>
                                         <xs:attribute type="xs:string" name="editor" use="optional" />
                                     </xs:complexType>
                              </xs:element>                                                                        
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="AccountControls" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Account controls</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                             <xs:element name="Property" maxOccurs="unbounded" minOccurs="1">
                                  <xs:complexType>
                                      <xs:simpleContent>
                                          <xs:extension base="xs:string">
                                              <xs:attribute type="String128" name="id" use="required" />
                                              <xs:attribute type="datatype" name="type" use="required" />
                                              <xs:attribute type="xs:string" name="validation" use="optional" />
                                              <xs:attribute type="xs:boolean" name="unique" use="optional" default="false" />
                                          </xs:extension>
                                      </xs:simpleContent>
                                  </xs:complexType>
                              </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>                
                <xs:element name="ResourceMetadata" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ResourceType" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Properties" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Property" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string" name="id" use="required" />
                                                                    <xs:attribute type="xs:string" name="type" use="required" />
                                                                    <xs:attribute type="xs:string" name="validation" use="required" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="editor" use="optional" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:choice>
                                        <xs:element name="Group" maxOccurs="1" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Component" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string" name="name" use="required"  />
                                                                    <xs:attribute type="xs:string" name="discriminator" use="required" />
                                                                    <xs:attribute type="xs:boolean" name="reconfigurable" use="optional" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="name" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Component" maxOccurs="unbounded" minOccurs="0">
                                          <xs:complexType>
                                            <xs:simpleContent>
                                              <xs:extension base="xs:string">
                                                <xs:attribute type="xs:string" name="name" use="required"  />
                                                <xs:attribute type="xs:string" name="discriminator" use="required" />
                                                <xs:attribute type="xs:boolean" name="reconfigurable" use="optional" />
                                              </xs:extension>
                                            </xs:simpleContent>
                                          </xs:complexType>
                                        </xs:element>
                                        </xs:choice>
                                        <xs:element name="Depends" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="dependsontype" name="type"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Generates" minOccurs="0" >
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="Usage" maxOccurs="unbounded" minOccurs="1" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name" use="required" />
                                    <xs:attribute type="resourceconstraint" name="constraint"/>
                                    <xs:attribute type="xs:string" name="componentSelector" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="UsageType" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Discriminator" maxOccurs="unbounded" minOccurs="0" />
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name" use="required" />
                                    <xs:attribute type="xs:string" name="clone" use="optional" />
                                    <xs:attribute type="xs:string" name="uom" use="required" />
                                    <xs:attribute type="xs:boolean" name="discrete" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Uom" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Scale" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="name" use="required"  />
                                                        <xs:attribute type="xs:string" name="conversionFactor" use="required" />
                                                        <xs:attribute type="xs:boolean" name="default" use="optional" />
                                                        <xs:attribute type="xs:boolean" name="monthly" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="raw" use="required" />
                                    <xs:attribute type="xs:boolean" name="monthly" use="optional" />
                                    <xs:attribute type="xs:boolean" name="discrete" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Filter" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Roles" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>CloudService Roles</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Role" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:attribute type="xs:string" name="name" use="required" />
                                    <xs:attribute type="rolescopeconstraint" name="scope" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ChannelSettings" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                		    <xs:documentation>Channel Settings</xs:documentation>
                	  </xs:annotation>
                	  <xs:complexType>
                        <xs:sequence>
                             <xs:element name="Property" maxOccurs="unbounded" minOccurs="1">
                                  <xs:complexType>
                                      <xs:simpleContent>
                                          <xs:extension base="xs:string">
                                              <xs:attribute type="String128" name="id" use="required" />
                                              <xs:attribute type="datatype" name="type" use="required" />
                                              <xs:attribute type="xs:string" name="validation" use="optional" />
                                              <xs:attribute type="xs:string" name="default" use="optional" />
                                              <xs:attribute type="xs:boolean" name="encrypted" use="optional" default="false"/>
                                              <xs:attribute type="xs:boolean" name="reconfigurable" use="optional" default="false"/>
                                          </xs:extension>
                                      </xs:simpleContent>
                                  </xs:complexType>
                              </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
